<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896535586449-inb2k6t61gvu8j9qaaiv4es0ktdid8s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896535586449-inb2k6t61gvu8j9qaaiv4es0ktdid8s6</string>
	<key>API_KEY</key>
	<string>AIzaSyCgPayA9i2IrcVarMCdkLAjug9Rm8C_aSo</string>
	<key>GCM_SENDER_ID</key>
	<string>896535586449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CayYolla</string>
	<key>PROJECT_ID</key>
	<string>cayyolla-20798</string>
	<key>STORAGE_BUCKET</key>
	<string>cayyolla-20798.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896535586449:ios:aa6f558eb8d835a5a7c130</string>
	<key>DATABASE_URL</key>
	<string>https://cayyolla-20798.firebaseio.com</string>
</dict>
</plist>